* { font-family: "Apple SD Gothic Neo", "NanumGothic", sans-serif !important; }
.nodeLabel, .edgeLabel, span, p { font-family: "Apple SD Gothic Neo", "NanumGothic", sans-serif !important; }
.edgeLabel { background-color: #ffffff; }
